.page-header {
    border-bottom: 1px solid getColor("header-underline");
    .container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 80px;
        left: 0px;
        top: 0px;
    }
  }

  .logo {
    font-family: $secondary-font-family;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    letter-spacing: 0.03em;

    &--blue {
      @extend .logo;
      color: getColor("active");
    }

    &--black {
      @extend .logo;
      color: getColor("logo-dark");
    }

    &--white {
      @extend .logo;
      color: getColor("light-background");
    }
  }

  .nav{
    display: flex;
    justify-content: space-between;
    width: 254px;
    padding: 0;
    margin-left: 93px;
    color:getColor("dark-font");
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    list-style-type: none;

    &__list{
        color:getColor("dark-font");
        text-decoration: none;
        position: relative;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: color;

        &:hover,
        &:focus{
            color:getColor("active");
        }

        &:after{
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background-color: getColor("active");
            content: '';
            position: absolute;
            bottom: -32px;
            left:0;
            background-color: transparent;
        }
        }
    }

.nav__list--underline {
color: getColor("active");
    &:after{
    color: getColor("active")
    }
}

.contact{
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-left: auto;
    width: 321px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:getColor("light-font");
    list-style-type: none;
    align-items: baseline;

    &__list{
        color:var(--light-grey-color);
        text-decoration: none;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: color;

        &:hover,
        &:focus{
            color: getColor("active")
        }
    }

    &__envelope{
        margin-right: 10px;
        width:16px;
        height:12px;
        fill: currentColor;
    }

    &__smartphone{
        margin-right: 10px;
        width:10px;
        height:16px;
        fill: currentColor;
    }
  }



  @media (min-width: 768px) {
    .page-header {
      padding: 21px 0 21px 0;
      .container{
        gap: 83px;
      }
    }

    .nav{
    display: flex;
    flex-direction: row;
    font-weight: 500;
    letter-spacing: 0.02em;

    &__list{
      transition-property: color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      color:var(--light-grey-color);
      position: relative;

      &:hover,
      &:focus {
        color: getColor("active");
        }

      &:after{
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: getColor("active");
        content: '';
        position: absolute;
        bottom: -32px;
        left:0;
        background-color: transparent;
        }
      }
    }

    .contact{
      display: flex;
      flex-direction: column;
      font-weight: 500;
      letter-spacing: 0.02em;
      gap: 10px;
      margin-left: auto;
      color:getColor("light-font");
      font-size: 14px;
      line-height: 1.14;

      &__list{
        display: flex;
        align-items: center;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: color;
        gap: 8px;

        &:hover,
        &:focus{
            color: getColor("active")
        }
      }

      &__envelope{
        margin-right: 10px;
        width:16px;
        height:12px;
        fill: currentColor;
      }

    &__smartphone{
        margin-right: 10px;
        width:10px;
        height:16px;
        fill: currentColor;
      }
    }
  }